@font-face {
    font-family: "FF Providence Sans";
    src: url("/files/providence.woff") format("woff");
}

@font-face {
    font-family: "FF Providence Sans";
    src: url("/files/providenceBold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Hibernate";
    src: url("/files/Hibernate.otf") format("opentype");
}


p {
    margin: 0;
    padding: 0;
}


html {
    background-color: #eee;
    font-size: 1.2em;
    color: #000;
    font-family: "FF Providence Sans", sans-serif; /* todo! */
}

p.textw, .textw {
    color: #fff;
}

img {
    max-width: 100vw;
}

body {
    margin: 0;
}



.centred {
    text-align: center;
}

.padme {
    padding: min(8vw, 50px);
}

.nodisp {
    display: none;
}


.bibleref {
    padding-bottom: 1rem;
}

.mobileview {
    max-width: 900px;
    background-color: #eee;
}

.underlined {
    text-decoration: underline;
}

.sectionheader {
    text-align: center;
    color: #000;
    margin: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #8cc583;
    font-family: "Hibernate", sans-serif;
    font-size: 1.5rem;
}

#themehaeder {
    background-color: #8cc583;
}

#aboutheader {
    background-color: #196dab;
}

button.prev, button.next {
    background-color: transparent;
    width: 40px;
    border-radius: 10px;
    border: 2px solid black;
    padding-top: 4px;
}

button.prev:hover, button.next:hover,
#imgcarousel button.prev:hover, #imgcarousel button.next:hover{
    border: 2px solid gray;
    background-color: #fff;
    opacity: 0.8;
    cursor: pointer;
}

.copyicon {
    width: 1.5rem;
    border: 2px solid black;
    background-color: #eee;
    border-radius: 5px;
}

.copyicon:focus {
    background-color: #aaa;
}

.copyicon:hover {
    background-color: #aaa;
    border: 2px solid #ccc;
    cursor: pointer;
}


/* banner and theme verse */
.banner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bannertop, .bannerbottom {
    max-height: 50vh;
}

.mobileview>.banner {
    padding: 0;
}

.banner>img {
    max-width: 100%;
    display: block;
}

#themeheader {
    background-image: url("/img/cf/themebg.png");
    background-repeat: none;
    background-clip: border-box;
    background-size: cover;
}

.themeverse {
    background-color: #ffeea4;
}

/* sessions cards */
.events {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 100px 50px;
}

.events > * {
    margin: auto;
}

.cardback {
    margin: auto;
    border-radius: 20px;
    padding: 10px;

    width: 340px;
}

#sessioncard > .cardback {
    background-color: #bf3c26;
}

#eventcard > .cardback {
    background-color: #e6c677;
}

.cardtl {
    position: relative;
    top: -20px;
    left: -30px;
    width: 320px;

    transform: rotate(-2deg);
    padding: 30px 15px;
    border-radius: 20px;
    vertical-align: middle;
    font-size: 1.4rem;
}

#sessioncard .cardtl {
    background-color: #f26a54;
}

#eventcard .cardtl {
    background-color: #ffe4a2;
}

/* unused
 sessions and collage 
.sidebyside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebyside > div {
    width: 50%;
}

.sessionheader {
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(135deg, #4b66b5, #9e6fa0);
    padding: 10px;
    margin: 20px min(20px, calc(100vw - 10em));
}

.collage {
    position: relative;
    min-height: 500px;
    width: 0px;
}

.collage > img {
    display: block;
    position: absolute;
    height: max(100%, 200px);
    right: 0;
}
*/

/* Landscape Carousel */
#imgcarousel {
    position: relative;
}

.carouselcontainer {
    display: flex;
    position: relative;
    overflow: scroll;
    scroll-snap-type: x proximity;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0px;
    width: 100%;
}

.carouselcontainer > img {
    width: min(900px, 100vw);
    scroll-snap-align: center;
}

#imgcarousel .prev, #imgcarousel .next {
    position: absolute;
    top: calc(50% - 32px);
    z-index: 1;
    background-color: #eee;
    opacity: 0.4;
}

#imgcarousel .prev {
    left: 1rem;
}

#imgcarousel .next {
    right: 1rem;
}

/* Prayer and verse */
#prayerverse {
    background-color: #f26a54;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

#prayerverse h1 {
  text-align: center;
}

.prayercontent {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

/* instagram handoff */
#igsidebysideflex {
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
}

.iglogo {
    width: 2rem;
}

#igprofile {
    display: grid;
    place-items: center;
}

#igprofile>a>p { 
    /*background: linear-gradient(135deg, #3363e7, #fff7a5, #ba5555);*/
    border-radius: 15px;
    padding: 20px;

    display: inline-block;
    vertical-align: middle;
}

#igprofile>a{
    text-decoration: none;
    color: #000;
}

@media screen and (min-width: 900px) {
    .docpadding {
        height: 50px;
    }

    .mobileview {
        position: absolute;
        right: 100px;
        border-radius: 10px 10px 0 0;
        outline: 5px solid gray;
    }
}
